{% extends 'posts/base.html' %}
{% load static %}
{% block title %}
    {{ action }}
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/posts/create-update-form.css' %}">
{% endblock styles %}
{% block content %}
    <form method="post">{% csrf_token %}
        {% for element in form %}
            {{ element.label }}
            {{ element }}
        {% endfor %}
        <input type="submit" value={{ action }}>
    </form>
{% endblock content %}
