{% extends 'posts/base.html' %}
{% load comment_created_time %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/posts/post.css' %}">
{% endblock styles %}

{% block content %}
    <div id="post">
        <div id="title">
            <a href="{% url 'posts' %}"><i class="fa-solid fa-arrow-left" style="color: #000000; font-size: 17px"></i></a>
            <h1>{{ post.title }}</h1>
        </div>
        <p style="font-weight: bold">{{ post.content }}</p>
        <i class="fa-solid fa-comment" style="color: #000000;"></i>
        <form method="POST">{% csrf_token %}
            {% for element in form %}
                {{ element }}
            {% endfor %}
            <button type="submit">Comment</button>
        </form>
        <div id="comments">
            {% for comment in comments %}
                <div class="comment">
                    <p>{{ comment.user }} on {{ comment.created|format_time }}
                        {% if comment.user == request.user %}
                            <a href="{% url 'delete comment' post.id comment.id %}"><i class="fa-solid fa-trash" style="color: black;"></i></a>
                        {% endif %}
                    </p>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'scripts/posts/post-add-comment.js' %}" crossorigin="anonymous"></script>
{% endblock content %}
