<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <style>
        textarea {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>{{ post.title }}</h1>
    {% for tag in post.tags.all %}
        <p>{{ tag }}</p>
    {% endfor %}
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comment</button>
    </form>
    {% for comment in comments %}
        {{ comment.content }}
    {% endfor %}
</body>
</html>