form {
    display: none;
}

.form-active {
    display: flex;
    flex-direction: column;
}

.fa-comment {
    font-size: 18px;
}

textarea {
    font-family: 'Noto Sans Nandinagari', sans-serif;
    resize: none;
}

#post {
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40vw;
}

p, h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

#title * {
    display: inline-block;
}

#title {
    display: flex;
    align-items: center;
    gap: 5%;
}

#comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
