#create-button:hover {
    transition: transform 0.2s;
    transform: rotateZ(360deg);
}

.post {
    width: 20vw;
    background-color: white;
    border-radius: 1px;
    border: 1px solid black;
}

.post-content {
    padding: 5%;
}

.post:hover {
    transition: filter 0.2s ease-in;
    filter: brightness(90%);
    cursor: pointer;
}

a {
    text-decoration: none;
}

#container {
    border: none;
}

#logout {
    height: 35px;
    margin-bottom: 20px;
}

#logout > button {
    padding: 10px;
    border: none;
}

#logout > button:hover {
    border: 1px solid black;
    cursor: pointer;
}

#bottom {
    display: flex;
    flex-wrap: wrap;
}

#owner-actions {
    margin-left: auto;
}
