{% extends 'users/base.html' %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <h1>Register</h1>
    <form method="POST">{% csrf_token %}
        {% for element in form %}
            {{ element }}
            {% if element.errors %}
                {% for error in element.errors %}
                    <p style="color:red; display: inline-block; text-align: center">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <input class="button" type="submit" value="Login">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock content %}
